<a href="https://colab.research.google.com/github/Hemanthjetti/crtprogram/blob/master/4_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### FUNCTIONAL PROGRAMING
1. SIMPLE
2. EASY TO UNDERSTAND
3. BETTER REUSEABILITY
4. LENGTH OF PROGRAM WILL BE DIVIDED INTO SUB PROGRAMS

def nameoffunction(<parameters>):
    statements
    return

In [14]:
# Read a number
# Print the even digit sum from the number

# input : 1234
# output :6(2+4)
def evendigitsum(n):
    s = 0
    while n != 0:
          r=n%10
          if r%2==0:
             s=s+r
          n=n//10
    return s
evendigitsum(1234)

6

In [16]:
# define return function
def square(x):
    print(x*x)
print(square(4))

16
None

In [19]:
def square(x):
   return(x*x)
square(3)

9

In [21]:
def cube(x):
   return(x*x*x)
print(cube(5))

125

In [22]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [29]:
# swap values
def swap(x=2,y=3):
    temp = x
    x=y
    y = temp
    return(x,y)
swap(2,3)

(3, 2)

In [33]:
#input : 19535
#output : 9(large digit of the given no)
def largedigitof(n):
    large = 0
    while n!=0:
          r=n%10
          if large <r:
             large=r
          n=n//10
    return large
largedigitof(19535)

9

## for loop
#### syntax1:
for i in range (start,stop,step)
>statements
####syntax2:
for i in iterableobject:
>statements

In [34]:
# function to print a prime number b/w two limits

def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

# DATA STRUCTURES

##collection types:
1. list
2. tuple
3. set
4. dictionary

### list
 -one of the data structure in python
 -data structure means to store,sort and search options
 -it's one common data structure in python,the items of listseperated by coma and enclosed in square brackets[]

 ### examples

In [47]:
li=[1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[1])
print(li[-5])
print(li[2:])
print(li[1:])
print(li[2:4])
print(li[-4:-2])

[1, 8, 16, 9, 2]
1
8
1
[16, 9, 2]
[8, 16, 9, 2]
[16, 9]
[8, 16]

In [49]:
# update list
li=['gitam',1234,'hyd']
print(li)
li[1]=456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [51]:
li=['gitam',1234,2018,2019,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

In [52]:
# basic list operations
li=[1,2,3,4]
#len of the string
print(len(li))

4