<a href="https://colab.research.google.com/github/Hemanthjetti/crtprogram/blob/master/5_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Basic list functions
li=[1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [6]:
li=[1,9,16,56,25,5,9]
li.append(29) #add the new items at li
li.insert(2,56) #add the new item at li
li.append(9)
li.count(9) # return the value
#li.index(56) # return the value

3

In [11]:
# method of list object
li=[1,9,16,56,25,5,9]
li.sort() # sorts that list in ascending order 
li
# li.pop() # last index value
# li.pop(1) # remove the items for the specified
# li

[1, 5, 9, 9, 16, 25, 56]

In [14]:
# method of list object
li=[1,9,16,56,25,5,9]
#li.sort() # sorts that list in ascending order 
li.pop() # last index value
li
# li.pop(1) # remove the items for the specified
# li

[1, 9, 16, 56, 25, 5]

In [15]:
# method of list object
li=[1,9,16,56,25,5,9]
#li.sort() # sorts that list in ascending order 
#li.pop() # last index value
li
li.pop(1) # remove the items for the specified
li

[1, 16, 56, 25, 5, 9]

In [16]:
li1 = [1,6,19,25]
li.extend(li1)
li
# li.reverse()
# li.sort()

[1, 16, 56, 25, 5, 9, 1, 6, 19, 25]

In [17]:
li1 = [1,6,19,25]
# li.extend(li1)
li1.reverse()
li1
# li.sort()

[25, 19, 6, 1]

In [20]:
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3))

45
22

In [32]:
def smallestnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[19,1,25,6,9,45,22]
print(smallestnumber(li))
print(genericsmall(li,3))

1
9

### Tuples
-parenthesis()--->Tuple and square brackets[]--->list
-difference b/w tuples and list
     -list are mutable - can be changed or modified
     -used to access and modify,add,delete data
     -tuples are immutable - cannot be changed
     -uesd to access data only

In [33]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
1. it works on the concept of set unique Data
2. keys,values is the unique identifier for the value
3. each key is seperated from its values with colon(:)
4. each key and value is seperated by comma(,)
5. dictionaries enhanced with curly braces({})

In [41]:
d1={"name":"gitam","email id":"gitam@gmail.com","address":"Hyderabad"}
d1["email id"]="221710404021@gmail.com" # update the data
d1

{'address': 'Hyderabad', 'email id': '221710404021@gmail.com', 'name': 'gitam'}

In [39]:
d1["email id"]

'221710404021@gmail.com'

In [42]:
d1["course"]= "python" # adding on entry
d1

{'address': 'Hyderabad',
 'course': 'python',
 'email id': '221710404021@gmail.com',
 'name': 'gitam'}

In [43]:
del d1["email id"]
d1

{'address': 'Hyderabad', 'course': 'python', 'name': 'gitam'}

In [44]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [45]:
d1.values()

dict_values(['gitam', 'Hyderabad', 'python'])

In [47]:
d1.items() # the list of tuples of keys and values

dict_items([('name', 'gitam'), ('address', 'Hyderabad'), ('course', 'python')])

### STRING
-strings
-string slicings
-fundamental programming with string in python

In [48]:
s1 ="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [55]:
s1="python"
print(s1[0]) #Access the first character
print(s1[1]) #Access the second character
print(s1[5]) #last character
print(s1[len(s1)-1]) #Access the last character

p
y
n
n

In [56]:
print(s1[-1]) # another way access the last letter
print(s1[-2]) # another way to access the last second letter
print(s1[0:2]) # access the first letter
print(s1[:2]) #  access first two letters
print(s1[-3:]) # access last 3 letters
print(s1[2:]) # access last 4 letters

n
o
py
py
hon
thon

In [57]:
print(s1[1:-1]) # print all characters ecxept first and last
print(s1[len(s1)//2]) # middle of the string
print(s1[-1::-1]) # reverse of the string
print(s1[-1:-3:-1]) # access last 2 characters in reverse order 
# access alternate characters
print(s1[::2]) # 2 characters
print(s1[::3]) # 3 characters
print(s1[::-2]) # from reverse order

ytho
h
nohtyp
no
pto
ph
nhy

In [60]:
# Reversing a string
def reversestring(str):
    return str[-1::-1]
reversestring("programming")

'gnimmargorp'

In [65]:
# check whether the given string is palindrome or not
def ispalindrome(str):
    if str == str[::-1]:
      return True
    else:
      return False
    return
print(ispalindrome("python"))
print(ispalindrome("ganag"))

False
True

## string built-in methods:
1. upper()--will convert input string into upper case
2. lower()--will convert input string into lower case

In [67]:
s1='python'
print(s1.upper())
print(s1.lower())

PYTHON
python

In [0]:
### string boolean built-in methods
1. upper()
2. lower()
3. islower()
4. isupper()
5. istitle()
6. isnumeric()
7. isalpha()
8. isspace

In [68]:
s1='python'
print(s1.upper())
print(s1.lower())
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
True
False
False
False
True
False

In [69]:
s1=" "
print(s1.isspace())

True

# String Methods
-join()
-split()
-replace()

In [70]:
s1='Python'
print(" ".join(s1))

P y t h o n

In [71]:
s2="Python programming easy to learn"
print(",".join(s2))

P,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [72]:
li=['Python','programming','learn']
print(",".join(li))

Python,programming,learn

In [73]:
s2="Python programming easy to learn"
print(s2.split())

['Python', 'programming', 'easy', 'to', 'learn']

In [75]:
s2="Python programming easy to learn"
print(s2.split('a'))

['Python progr', 'mming e', 'sy to le', 'rn']

In [76]:
s2="Python programming easy to learn"
print(len(s2))
li=s2.split() # split the string--list objects
print(li)
print(len(li))

32
['Python', 'programming', 'easy', 'to', 'learn']
5

In [77]:
s2="Python programming easy to learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [79]:
s2="Python programming easy to learn"
print(s2.replace("gra","Application"))

Python proApplicationmming easy to learn